@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}
$shadow-0: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$shadow-0-2: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
$shadow-1: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
$shadow-2: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
$shadow-3: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
$shadow-4: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
$shadow-5: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
$transition: cubic-bezier(0.23, 0.54, 0.19, 0.99);
$transition-2: cubic-bezier(0.08, 0.54, 0.45, 0.91);

$black-1: rgba(0,0,0,.87);
$black-2: rgba(0,0,0,.54);
$black-3: rgba(0,0,0,.38);
$black-4: rgba(0,0,0,.12);
$primary-dark: #1c1d21;
$primary-light: #e2e2e2;
$text-light-primary: white;
$text-light-secondary: rgba(255,255,255,.4);
$text-dark-primary: $black-1;
$text-dark-secondary: $black-2;


$background-1: #f2f2f2;
$background-2: white;

/* $accent-1: #225378;
$accent-2: #1695A3;
$accent-3: #ACF0F2;
$accent-4: #F3FFE2;
$accent-5: #EB7F00; */

// #004358
// #1F8A70
// #BEDB39
// #FFE11A
// #FD7400

$theme-background: #262626;
$theme-background-hover: #2f2f2f;
$theme-header: #1c1c1c;
$theme-border: #181818;
$theme-ui: blue;

$text-light: #cccccc;
$text-secondary: #777777;
$text-hint: rgba(255,255,255,.1);

$accent-1: #192B38;
$accent-2: #22424B;
$accent-3: #2E5458;
$accent-4: #4E7367;
$accent-5: #7BA187;

$font-size-header: 1.2rem;
$font-size-large: 1rem;
$font-size-med: 0.9rem;
$font-size-small: 0.6rem;


// -----

html,
body,
#react-root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}
* {
	box-sizing: border-box;
}